body {
    background: linear-gradient(35deg,#CCFFFF,#FFCCCC );
    text-align: center;
    color: blueviolet;
    font-size: 40px;
  }
 
  h1{
   
   font-size: 120px;
   
   
 }
 p{
    font-size: 70px;
  }
